h1{
    border:  solid 1px red;
}


section:nth-child(2)  ul>li:nth-child(3):hover{
    text-decoration: underline;
}
section:nth-child(2) ul>li:nth-child(2):hover{
    text-decoration: underline;
}


section span~p{
    background-color: green;
}


section li:first-child{
    border-left: 1px solid black;
}

section:nth-child(even){
    background-color: yellow;
}

section:nth-child(7):hover h2{
    font-size: 30px;
}

a[href*="./"]{
    border-top: 1px red solid;
}

section:nth-child(1)~section:nth-child(even){
    background-color: black;
    color: white;
}